<a href="https://colab.research.google.com/github/ScottC17/IS4487/blob/main/scott_christensen_week9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scott Christensen
# Lab 9

In [1]:
import pandas as pd
import matplotlib.pyplot as mpl
import sklearn as sl

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive', force_remount=True)

df = pd.read_csv (r'/content/gdrive/MyDrive/Colab_Notebooks/megatelco.csv')

print (df)

Mounted at /content/gdrive
     college  income  overage  leftover   house  handset_price  \
0        one   23859       70         0  519105            154
1       zero   72466       67        16  271182            262
2       zero   30883       60         0  647281            211
3        one   44512        0        22  754958            232
4       zero   70535        0         0  653421            310
...      ...     ...      ...       ...     ...            ...
4995    zero   93699       26        56  385632            384
4996    zero   25806       67        87  691020            142
4997     one   97033      138        28  710559            311
4998    zero   91558      229        15  853464            379
4999     one  115943      200        42  173038            459

      over_15mins_calls_per_month  average_call_duration  \
0                             5.0                      8
1                             5.0                      5
2                             3.0                      8
3                             0.0                      5
4                             0.0                     14
...                           ...                    ...
4995                          5.0                      1
4996                          4.0                      2
4997                         10.0                      2
4998                         27.0                      4
4999                         24.0                      2

     reported_satisfaction reported_usage_level considering_change_of_plan  \
0                      low                  low                        yes
1                      low                  low                        yes
2                      low                  low                        yes
3                      low                  low                         no
4                      low                  low                        yes
...                    ...                  ...                        ...
4995                  high                  low                        yes
4996                  high                  low                         no
4997                   low                 high                        yes
4998                  high                  low                         no
4999                  high                 high                        yes

      leave     id
0     LEAVE   8183
1     LEAVE  12501
2      STAY   7425
3     LEAVE  13488
4      STAY  11389
...     ...    ...
4995  LEAVE  19270
4996   STAY  14549
4997   STAY   9972
4998   STAY  12685
4999  LEAVE  13561

[5000 rows x 13 columns]

Create a new variable called "Income_Level".   Use the income variable to put customers in to groups from $0-$100K, $101-200K, etc.

In [3]:
#create income levels
bins = [0, 100000, 200000, 300000, 400000]

#labels for each income level
labels = ['0-100K', '101-200K', '201-300K', '301-400K']

#'Income_Level' variable
df['Income_Level'] = pd.cut(df['income'], bins=bins, labels=labels)

print(df.head(10))

  college  income  overage  leftover   house  handset_price  \
0     one   23859       70         0  519105            154
1    zero   72466       67        16  271182            262
2    zero   30883       60         0  647281            211
3     one   44512        0        22  754958            232
4    zero   70535        0         0  653421            310
5    zero  143987        0        56  896544            778
6     one   96668       79        24  259329            365
7     one   50083        0         0  160335            266
8     one  104392        0         0  247836            778
9     one   37852        0        74  264893            857

   over_15mins_calls_per_month  average_call_duration reported_satisfaction  \
0                          5.0                      8                   low
1                          5.0                      5                   low
2                          3.0                      8                   low
3                          0.0                      5                   low
4                          0.0                     14                   low
5                          5.0                      1                   low
6                          5.0                      6                   low
7                          5.0                     10                   low
8                          1.0                      8                  high
9                          0.0                      2                   low

  reported_usage_level considering_change_of_plan  leave     id Income_Level
0                  low                        yes  LEAVE   8183       0-100K
1                  low                        yes  LEAVE  12501       0-100K
2                  low                        yes   STAY   7425       0-100K
3                  low                         no  LEAVE  13488       0-100K
4                  low                        yes   STAY  11389       0-100K
5                 high                        yes   STAY  14674     101-200K
6                  avg                        yes  LEAVE  19100       0-100K
7                 high                        yes   STAY  18170       0-100K
8                  low                         no  LEAVE   3201     101-200K
9                  low                        yes  LEAVE  12612       0-100K

"Satisfaction_Level"

In [10]:
# Create "Satisfaction_Level"
df['Satisfaction_Level'] = pd.cut(df['reported_satisfaction'], bins=[1, 2, 3], labels=['Low', 'Medium', 'High'], include_lowest=True)

# Convert "Satisfaction_Level" to categorical variable
df['Satisfaction_Level'] = pd.Categorical(df['Satisfaction_Level'], categories=[1, 2, 3], ordered=True)

TypeError: ignored

Create a bar chart, histogram, or scatter for at least three variables, showing their relationship with the target variable

In [7]:
#bar chart for reported_satisfaction
df.groupby('leave')['reported_satisfaction'].mean().plot(kind='bar')
plt.xlabel('Leave')
plt.ylabel('Reported satisfaction')
plt.show()

#histogram for income_level
df.hist(column='income_level', by='leave', bins=10)
plt.xlabel('Income level')
plt.ylabel('Frequency')
plt.show()

#scatter plot for handset_price and reported_satisfaction
df.plot.scatter(x='handset_price', y='reported_satisfaction', c='leave', colormap='viridis')
plt.xlabel('Handset price')
plt.ylabel('Reported satisfaction')
plt.show()

TypeError: ignored